lectures.html
lectures.pdf
aggregate.md
inline_exec_tmp
inline_exec_tmp.c

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*/*.bin
*.pdf
08/libexample/prog_dynamic
08/libexample/prog_naive
08/libexample/prog_static
08/libexample/prog2_dynamic
08/libexample/prog2_naive
08/libexample/prog2_static

*.scss
*.css
*.js
*.json
*.eot
*.woff
*.ttf
*.html
*.wav
slides/reveal/dist/theme/fonts/league-gothic/LICENSE
.gitignore
slides/reveal/.github/FUNDING.yml
slides/reveal/dist/theme/fonts/source-sans-pro/LICENSE
